# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

## 从库配置
## 设置server_id，一般设置为IP,保证唯一就好
server_id=101
# 开启binlog，名字可以随意取
log-bin=mysql-slave-bin
## binlog日志格式,（mixed,statement,row，默认格式是statement）
binlog_format=row
## 日志自动删除日期,默认值为0，表示不自动删除。
expire_logs_days=7
## 跳过主从复制中遇到的所有错误或指定类型的错误，避免slave端复制中断。
## 如：1062错误是指一些主键重复，1032错误是因为主从数据库数据不一致
slave_skip_errors=1062
## 复制过滤：也就是指定哪个数据库不用同步（mysql库一般不同步）
binlog-ignore-db=mysql

#牺牲一定可靠性，加强并发能力
sync_binlog = 0
innodb_flush_log_at_trx_commit = 0

## 只读
read_only=1
